[Unit]
Description=Console launcher
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/zero-console/software/launcher
ExecStart=/usr/bin/startx /home/pi/zero-console/software/drivers/start_ui.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target